body {
  background-color: #f8f8f8;
  color: #0c1354;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  width: 85%;
  height: 100%;
  padding: 0.9rem;
  gap: 4rem;
}

.logo {
  align-self: center;
  padding: 1.5rem;
}

.logoimg {
  width: 340px;
  height: auto;
}

.info {
  width: 40%;
}

.place {
  background-color: #0c1354;
  color: white;
  display: inline;
  padding: 0.5rem;
  border-radius: 1rem;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

hr {
  background-color: #0c1354;
  width: 100px;
  height: 6px;
  margin: 1.5rem 0;
}

.slug {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 3rem;
  gap: 1rem;
}

.services li {
  font-size: small;
  font-family: sans-serif;
  list-style: none;
  background-color: white;
  border: solid 1px #0c1354;
  border-radius: 0.4rem;
  padding: 0.3rem;
}

.btn-close {
  color: white;
  font-family: monospace;
  font-size: xx-large;
  text-decoration: none;
}
